node_modules
.pnpm-store
dist
coverage
test-results
playwright-report
.DS_Store

prisma/dev.db
prisma/dev.db-journal
.gokart-station

apps/py_adapter/.venv
.venv_sample
apps/py_adapter/**/*.egg-info
**/__pycache__
**/*.pyc
